.full-width{
	width:100%;
}
.margin-0{
	margin: 0px!important;
}
.margin-t-0{
	margin-top: 0px!important;
}
.margin-b-0{
	margin-bottom: 0px!important;
}
.margin-r-0{
	margin-right: 0px !important;
}
.margin-l-0{
	margin-left: 0px!important;
}
.margin-5{
	margin: 5px;
}
.margin-t-5{
	margin-top: 5px;
}
.margin-b-5{
	margin-bottom: 5px;
}
.margin-r-5{
	margin-right: 5px;
}
.margin-l-5{
	margin-left: 5px;
}
.margin-10{
	margin: 10px;
}
.margin-t-10{
	margin-top: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-r-10{
	margin-right: 10px;
}
.margin-l-10{
	margin-left: 10px;
}
.margin-15{
	margin: 15px;
}
.margin-t-15{
	margin-top: 15px;
}
.margin-b-15{
	margin-bottom: 15px;
}
.margin-r-15{
	margin-right: 15px;
}
.margin-l-15{
	margin-left: 15px;
}
.margin-20{
	margin: 20px;
}
.margin-t-20{
	margin-top: 20px;
}
.margin-b-20{
	margin-bottom: 20px;
}
.margin-r-20{
	margin-right: 20px;
}
.margin-l-20{
	margin-left: 20px;
}
.padding-0{
	padding: 0px!important;
}
.padding-t-0{
	padding-top: 0px!important;
}
.padding-b-0{
	padding-bottom: 0px!important;
}
.padding-r-0{
	padding-right: 0px !important;
}
.padding-l-0{
	padding-left: 0px!important;
}
.padding-5{
	padding: 5px;
}
.padding-t-5{
	padding-top: 5px;
}
.padding-b-5{
	padding-bottom: 5px;
}
.padding-r-5{
	padding-right: 5px;
}
.padding-l-5{
	padding-left: 5px;
}
.padding-10{
	padding: 10px;
}
.padding-t-10{
	padding-top: 10px;
}
.padding-b-10{
	padding-bottom: 10px;
}
.padding-r-10{
	padding-right: 10px;
}
.padding-l-10{
	padding-left: 10px;
}
.padding-15{
	padding: 15px;
}
.padding-t-15{
	padding-top: 15px;
}
.padding-b-15{
	padding-bottom: 15px;
}
.padding-r-15{
	padding-right: 15px;
}
.padding-l-15{
	padding-left: 15px;
}
.padding-20{
	padding: 20px;
}
.padding-t-20{
	padding-top: 20px;
}
.padding-b-20{
	padding-bottom: 20px;
}
.padding-r-20{
	padding-right: 20px;
}
.padding-l-20{
	padding-left: 20px;
}


