/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/

  #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  #customers td, #customers th {
      border: 1px solid #DDDD;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius:1px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #3b3f4f;}

  #customers th {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
  }

	@media
	  only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		.tabel_tagihan table, thead, tbody, th, td, tr {
			display: block;
      color: white;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		.tabel_tagihan thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    .tabel_tagihan tr {
      margin: 0 0 1rem 0;
    }

    .tabel_tagihan tr:nth-child(odd) {
      background: #4CAF50;
    }

		.tabel_tagihan td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		.tabel_tagihan td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		.tabel_tagihan td:nth-of-type(1):before { content: "Kode"; font-weight: bold }
		.tabel_tagihan td:nth-of-type(2):before { content: "Jenis"; font-weight: bold }
		.tabel_tagihan td:nth-of-type(3):before { content: "Periode"; font-weight: bold }
		.tabel_tagihan td:nth-of-type(4):before { content: "Nominal"; font-weight: bold }

    .tabel_pembayaran table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .tabel_pembayaran thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .tabel_pembayaran tr {
      margin: 0 0 1rem 0;
    }

    .tabel_pembayaran tr:nth-child(odd) {
      background: #4CAF50;
    }

    .tabel_pembayaran td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    .tabel_pembayaran td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      color: white;
    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    .tabel_pembayaran td:nth-of-type(1):before { content: "Kode"; font-weight: bold; color: white}
    .tabel_pembayaran td:nth-of-type(2):before { content: "Jenis"; font-weight: bold; color: white}
    .tabel_pembayaran td:nth-of-type(3):before { content: "Periode"; font-weight: bold; color: white}
    .tabel_pembayaran td:nth-of-type(4):before { content: "Transaksi"; font-weight: bold; color: white}
    .tabel_pembayaran td:nth-of-type(5):before { content: "Tanggal Bayar"; font-weight: bold; color: white}
    .tabel_pembayaran td:nth-of-type(6):before { content: "Nominal"; font-weight: bold; color: white}

    .total_tagihan table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .total_tagihan thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .total_tagihan tr {
      margin: 0 0 1rem 0;
    }

    .total_tagihan tr:nth-child(odd) {
      background: #ccc;
    }

    .total_tagihan td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    .total_tagihan td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;

    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    .total_tagihan td:nth-of-type(1):before { content: "Total Tagihan"; font-weight: bold}

    .total_pembayaran table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .total_pembayaran thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .total_pembayaran tr {
      margin: 0 0 1rem 0;
    }

    .total_pembayaran tr:nth-child(odd) {
      background: #ccc;
    }

    .total_pembayaran td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    .total_pembayaran td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;

    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    .total_pembayaran td:nth-of-type(1):before { content: "Total Pembayaran"; font-weight: bold}
	}
